body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color:#434455;
}
.page-title {
    font-weight: bold;
    font-size: 56px;
    line-height: 1.071;
}
.section-title {
    font-weight: bold;
    font-size: 36px;
}
h3 {
    font-weight: medium;
    font-size: 20px;
}

.button{
    font-weight: medium;
    font-size: 16px;
    letter-spacing: 4%;
    color:white;
    background-color: #4d5ae5;
}
.button:hover,
.button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.page-nav .link,
.address {
    text-decoration: none;
    color:#434455;
}

.page-nav .link:hover,
.page-nav .link:focus,
.address:hover,
.address:focus {
    color:#404bbf;
}


